{% extends '@GlobalcomDoorman/layout.html.twig' %}

{% block title %}House - {{ parent() }}{% endblock %}

{% block body %}
    <h1>House</h1>

    <table class="table table-hover record_properties">
        <tbody>
        <tr>
            <th scope="row">Id</th>
            <td>{{ house.id }}</td>
        </tr>
        <tr>
            <th scope="row">Desc</th>
            <td>{{ house.desc }}</td>
        </tr>
        <tr>
            <th scope="row">Town</th>
            <td>{{ house.town }}</td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group record_actions">
        <a class="btn btn-info" href="{{ path('admin_house') }}">
            <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
        </a>
    </div>
{% endblock %}
