{% extends '@GlobalcomDoorman/layout.html.twig' %}

{% block title %}Entrance - {{ parent() }}{% endblock %}

{% block body %}
    <h1>Entrance</h1>

    <table class="table table-hover record_properties">
        <tbody>
        <tr>
            <th scope="row">{{ 'id'|trans({}, 'admin') }}</th>
            <td>{{ entrance.id }}</td>
        </tr>
        <tr>
            <th scope="row">{{ 'house'|trans({}, 'admin') }}</th>
            <td>{{ entrance.house.town ~ '-' ~ entrance.house.desc }}</td>
        </tr>
        <tr>
            <th scope="row">{{ 'desc'|trans({}, 'admin') }}</th>
            <td>{{ entrance.desc }}</td>
        </tr>
        <tr>
            <th scope="row">{{ 'code'|trans({}, 'admin') }}</th>
            <td>{{ entrance.code }}</td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group record_actions">

        <a class="btn btn-info" href="{{ path('admin_entrance') }}">
            <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
        </a>

        <a class="btn btn-primary" href="{{ path('admin_entrance_edit', {id: entrance.id}) }}">
            <i class="fa fa-edit"></i> {{ 'Edit'|trans({}, 'admin') }}
        </a>
    </div>

{% endblock %}
