{% extends '@GlobalcomDoorman/layout.html.twig' %}

{% block title %}{{ '%entity% edit'|trans({'%entity%': 'skupiny klíčů'}, 'admin') }} - {{ parent() }}{% endblock %}

{% block body %}
    <h1>{{ '%entity% edit'|trans({'%entity%': 'skupiny klíčů'}, 'admin') }}</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <p>
            <button class="btn btn-primary" type="submit"><i class="fa fa-edit"></i> {{ 'Submit'|trans({}, 'admin') }}</button>
        </p>
    {{ form_end(edit_form) }}

    <div class="btn-group record_actions">
        {% render(controller('GlobalcomDoormanBundle:KeyGroup:deleteForm', {'keyGroup': keygroup})) %}

        <a class="btn-xs btn-info" href="{{ path('admin_keyGroup') }}">
            <i class="fa fa-list"></i> {{ 'Back to the list'|trans({}, 'admin') }}
        </a>
    </div>

    {% include 'GlobalcomDoormanBundle::deleteConfirmationModal.html.twig' %}

{% endblock %}
