{% extends '@GlobalcomDoorman/layout.html.twig' %}

{% block title %}{{ 'keyGroups'|trans({}, 'admin') }} - {{ parent() }}{% endblock %}
{% macro thead(name, field, label) %}
    {% spaceless %}
        {% set sort = app.session.get('sort.' ~ name) %}
        {% if sort and sort.field == field %}
            {% if sort.type == 'DESC' %}
                <a href="{{ path('admin_keyGroup_sort', {field: field, type: 'ASC'}) }}">{{ label }} <i
                            class="fa fa-sort-down"></i></a>
            {% elseif sort.type == 'ASC' %}
                <a href="{{ path('admin_keyGroup_sort', {field: field, type: 'DESC'}) }}">{{ label }} <i
                            class="fa fa-sort-up"></i></a>
            {% endif %}
        {% else %}
            <a href="{{ path('admin_keyGroup_sort', {field: field, type: 'ASC'}) }}">{{ label }} <i
                        class="fa fa-sort"></i></a>
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% from _self import thead %}

{% block body %}
    <h1>{{ 'keyGroups'|trans({}, 'admin') }}</h1>
    <div class="row">
        <div class="col-md-10">
            <ul class="new_entry list-unstyled">
                <li>
                    <a class="btn btn-info" href="{{ path('admin_keyGroup_new') }}">
                        <i class="fa fa-plus"></i> {{ 'Create a new entry'|trans({}, 'admin') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            {% include 'GlobalcomDoormanBundle:KeyGroup:filter.html.twig' with {form: form} %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <table class="table table-striped table-hover table-bordered records_list">
                <thead>
                <tr>
                    <th scope="col">{{ thead('keygroup', 'desc', 'Desc') }}</th>
                    <th scope="col">{{ 'Actions'|trans({}, 'admin') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for keygroup in paginator %}
                    <tr>
                        <td><a href="{{ path('admin_keyGroup_edit', {id: keygroup.id}) }}">{{ keygroup.desc }}</a></td>
                        <td>
                            <div class="btn-group record_actions">
                                <a class="btn btn-info btn-xs"
                                   href="{{ path('admin_keyGroup_assignKeys', {id: keygroup.id}) }}">
                                    <i class="fa fa-file-o"></i> {{ 'Assign keys'|trans({}, 'admin') }}
                                </a>

                                {% render(controller('GlobalcomDoormanBundle:KeyGroup:deleteForm', {'keyGroup': keygroup})) %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {{ knp_pagination_render(paginator) }}
        </div>
    </div>

    <div id="delete_confirm" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>{{ 'Confirm delete'|trans({}, 'admin') }}</h3>
                </div>
                <div class="modal-body">
                    <p>{{ 'You are about to delete an item'|trans({}, 'admin') }}
                        , {{ 'this procedure is irreversible'|trans({}, 'admin') }}.</p>

                    <p>{{ 'Do you want to proceed?'|trans({}, 'admin') }}</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger">{{ 'Yes'|trans({}, 'admin') }}</button>
                    <button class="btn btn-default" data-dismiss="modal">{{ 'No'|trans({}, 'admin') }}</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
